/*debut animation appel d'urgence*/
@keyframes flash-background {
    0% {
        background-color: red;
    }

    50% {
        background-color: transparent;
    }

    100% {
        background-color: red;
    }
}

.sidebar-contact {
    animation: flash-background 1s infinite;
}
/*fin animation appel d'urgence*/

/*debut chargement donnees*/
#preloader_ch {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffff;
    background: rgba(0, 0, 0, 0.7);
    z-index: 99999;
    /* Ensures that the preloader is on top */
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner_preloader_ch {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin_ch 1s linear infinite;
}

@keyframes spin_ch {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
/*fin chargement donnees*/

/*debut pargination*/
.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
    margin-top: 20px;
}

.page-item {
    margin: 0 5px;
}

.page-link {
    display: block;
    padding: 10px 15px;
    color: #007bff;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.page-item.active .page-link {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

.page-item.disabled .page-link {
    color: #ccc;
    pointer-events: none;
}

.page-item:hover .page-link {
    background-color: #f2f2f2;
}
/*fin pargination*/

/*debut div suggestion*/
#suggestions {
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    background-color: #fff;
    z-index: 100;
    width: 300px;
}

#suggestions div {
    padding: 8px;
    cursor: pointer;
}

#suggestions div:hover {
    background-color: #f0f0f0;
}
/*fin div suggestion*/
